extends layout

block content
    div.group.head
        div.picture
            a(href=image, target="_blank"): img(src=image)
        div.summary
            h1= title
            p #{positions[currentPositionIndex].role} at #{companies[positions[currentPositionIndex].companyId].officialName}
            p.phone=phone
            p.email=email
            p
                a(href=linkedin, target="_blank") LinkedIn Profile

    div.group.summary
        h3.group-title Summary
        div.summary=summary

    div.group.experience
        h3.group-title Experience
        div.position
            for position in positions
                div.title #{position.role} at #{companies[position.companyId].officialName}
                div.period #{position.from} - #{position.to}
                span.description=position.description

    div.group.education
        h3.group-title Education
        div.school
            for school in schools
                div.picture
                    a(href=school.url, target="_blank").badge: img(src=school.logo)
                div.summary
                    p.title=school.name
                    p.period #{school.from} - #{school.to}
                    p.description=school.graduationLevel

    div.group.certificates
        h3.group-title Certifications
        div.certificate
            for certificate in certificates
                div.picture
                    a(href=certificate.url, target="_blank").badge: img(src=certificate.logo)
                div.summary
                    p.title=certificate.title
                    p.validity=certificate.issued
