extends layout

block content
    div.group.head
        div.summary
            h1.full-name=title


    form(action='/', method='POST')

        p
            div.item=lastName
                input(type='text', name='lastName', value='')
            div.item=lastName2
                input(type='text', name='lastName2', value='')
            div.item=firstName
                input(type='text', name='firstName', value='')
            div.item=birthdayDate
                input(type='date', name='birthdayDate', value='')
            div.item=birthdayPlace
                input(type='text', name='birthdayPlace', value='')
            div.item=birthdayCountry
                input(type='text', name='birthdayCountry', value='')
            div.item=country
                input(type='text', name='country', value='')
            div.item=country2
                input(type='text', name='country2', value='')
            div.item=sex
                input(type='text', name='sex', value='')
            div.item=family
                input(type='text', name='family', value='')
            div.item=item11Title
                input(type='text', name='item11Title', value='')
            div.item=idTitle
                input(type='text', name='idTitle', value='')
            div.item=passType
                input(type='text', name='passType', value='')
            div.item=passNumber
                input(type='text', name='passNumber', value='')
            div.item=passDate
                input(type='date', name='passDate', value='')
            div.item=givenBy
                input(type='text', name='givenBy', value='')
            div.item=homeAddress
                input(type='text', name='homeAddress', value='')
            div.item=phone
                input(type='text', name='phone', value='')


        input(type='submit', value='Create')
