extends layout

block content
    div.head
        div.picture
            a(href=image, target="_blank"): img(src=image)
        div.summary
            h1= title
            p #{positions[currentPositionIndex].role} at #{positions[currentPositionIndex].company}
            p.phone=phone
            p.email=email
            p
                a(href=linkedin, target="_blank") LinkedIn Profile

    br
    hr
    div.summary
        h3.group-title Summary
        div.summary=summary

    br
    hr
    div.experience
        h3.group-title Experience
        div.position
            for position in positions
                div.title #{position.role} at #{companies[position.companyId].officialName}
                div.period #{position.from} - #{position.to}
                span.description=position.description

    br
    hr
    div.education
        h3.group-title Education
        div.school
            for school in schools
                div
                    a(href=school.url, target="_blank").badge: img(src=school.logo)
                div
                    div.title=school.name
                    div.period #{school.from} - #{school.to}
                    span.description=school.graduationLevel

    br
    hr
    div.certificates
        h3.group-title Certifications
        div.certificate
            for certificate in certificates
                div
                    a(href=certificate.url, target="_blank").badge: img(src=certificate.logo)
                div
                    div.title=certificate.title
                    div.validity=certificate.issued


